.app-bar .container {
  display: flex;
  align-items: center;
  height: 80px;
  gap: 30px;
}
.app-bar .container a {
  color: white;
  align-items: center;
}
.iconsss {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
